<!-- Modal manage block -->
<!-- Modal manage block -->
<div class="modal fade" id="manageBlock" tabindex="-1" aria-labelledby="manageBlockLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header modal-header--sticky">
                <i style="margin-right: 15px" data-feather="home"> </i>
                <h5 class="modal-title" id="manageBlockLabel">
                    Danh sách nhà trọ của bạn
                    <p style="font-size: 14px; font-weight: normal; font-style: italic; margin: 0">Tới {{dormitory.length}} nhà trọ
                        và quản lý</p>
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"> </button>
            </div>
            <div class="modal-body" *ngFor="let dor of dormitory; let i = index">
                <div class="item-feature active d-flex align-items-center justify-content-between mb-2">
                    <div class="info" style="flex: 1">
                        <h6>{{dor.name}}</h6>
                        <p>{{dor.address}}</p>
                    </div>

                    <div class="btn-round disabled btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top"
                        title="Không thể xóa nhà trọ đang thao tác">
                        <i class="fa-solid fa-trash"></i>
                    </div>

                    <div class="btn-round btn-edit" data-bs-toggle="modal" data-bs-target="#addBlock">
                        <div style="width: 100%; height: 100%; align-items: center;
                    display: inherit;
                    text-align: center;
                    justify-content: center; color: #000" data-bs-toggle="tooltip" data-bs-placement="top"
                            title="Chỉnh sửa Nhà trọ">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </div>
                    </div>

                    <a class="btn-round btn-go-to" data-bs-toggle="tooltip" data-bs-placement="top"
                        title="Tới quản lý Nhà trọ" (click)="getIndex(i, dor.id)" href="/quan-ly">
                        <i class="fa-solid fa-arrow-right"></i>
                     </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal manage block -->


<!-- Modal Tạo Nhà Trọ -->
<div class="modal fade" id="addBlock" tabindex="-1" aria-labelledby="addHouseModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addHouseModalLabel">Thêm Nhà Trọ Mới</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="addHouseForm" (ngSubmit)="onCreateHouse()" #addHouseForm="ngForm">
                    <div class="row">
                        <div class="d-flex flex-column p-2">
                            <b>Thông tin phòng:</b>
                            <i class="des">Nhập các thông tin cơ bản của phòng</i>
                        </div>

                        <!-- Tên Nhà Trọ -->
                        <div class="form-group col-lg-6 p-2">
                            <label for="houseName">Tên Nhà Trọ</label>
                            <input type="text" class="form-control" id="houseName" [(ngModel)]="house.houseName"
                                name="houseName" placeholder="Nhập tên nhà trọ" required>
                        </div>

                        <!-- Loại Hình Cho Thuê -->
                        <div class="form-group col-lg-6 p-2">
                            <label for="typeOfRental">Loại Hình Cho Thuê</label>
                            <select class="form-control" id="typeOfRental" [(ngModel)]="house.typeOfRental"
                                name="typeOfRental" required>
                                <option value="Dormitory">Nhà trọ</option>
                                <option value="Building">Căn hộ</option>
                                <option value="Office">Văn phòng</option>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <!-- Tổng Số Phòng -->
                        <div class="form-group col-lg-6 p-2">
                            <label for="totalRooms">Tổng Số Phòng</label>
                            <input type="number" class="form-control" id="totalRooms" [(ngModel)]="house.totalRooms"
                                name="totalRooms" placeholder="Nhập tổng số phòng" required>
                        </div>

                        <!-- Tổng Số Tầng -->
                        <div class="form-group col-lg-6 p-2">
                            <label for="totalFloors">Tổng Số Tầng</label>
                            <input type="number" class="form-control" id="totalFloors" [(ngModel)]="house.totalFloors"
                                name="totalFloors" placeholder="Nhập tổng số tầng" required>
                        </div>
                    </div>

                    <div class="row">
                        <div class="d-flex flex-column p-2">
                            <b>Địa chỉ:</b>
                            <i class="des">Giúp cho khách thuê của bạn Áp dụng thể tìm thấy nhà trọ của bạn dễ dàng hơn</i>
                        </div>
                        <!-- Tỉnh/Thành phố -->
                        <div class="form-group col-lg-4 p-2">
                            <label for="province">Tỉnh/Thành phố</label>
                            <input type="text" class="form-control" id="province" [(ngModel)]="house.province"
                                name="province" placeholder="Nhập tỉnh thành phố" required>
                        </div>

                        <!-- Quận/Huyện -->
                        <div class="form-group col-lg-4 p-2">
                            <label for="district">Quận/Huyện</label>
                            <input type="text" class="form-control" id="district" [(ngModel)]="house.district"
                                name="district" placeholder="Nhập quận huyện" required>
                        </div>

                        <!-- Phường/Xã -->
                        <div class="form-group col-lg-4 p-2">
                            <label for="ward">Phường/Xã</label>
                            <input type="text" class="form-control" id="ward" [(ngModel)]="house.ward" name="ward"
                                placeholder="Nhập phường xã" required>
                        </div>

                        <!-- Địa chỉ chi tiết -->
                        <div class="form-group col-lg-12 p-2">
                            <label for="streetDetail">Địa chỉ chi tiết</label>
                            <input type="text" class="form-control" id="streetDetail" [(ngModel)]="house.streetDetail"
                                name="streetDetail" placeholder="Nhập địa chỉ chi tiết" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="d-flex flex-column p-2">
                            <b>Cài đặt dịch vụ:</b>
                            <i class="des">Giúp cho khách thuê của bạn Áp dụng thể tìm thấy nhà trọ của bạn dễ dàng hơn</i>
                        </div>
                        <!-- Trạng thái Điện -->
                        <div class="form-group col-lg-6 p-2">
                            <label for="electricityStatus">Trạng thái Điện</label>
                            <select class="form-control" id="electricityStatus" [(ngModel)]="house.electricityStatus"
                                name="electricityStatus" required>
                                <option value="ACTIVE_STATUS">Áp dụng</option>
                                <option value="DELETED_STATUS">Không áp dụng</option>
                            </select>
                        </div>

                        <!-- Trạng thái Nước -->
                        <div class="form-group col-lg-6 p-2">
                            <label for="waterStatus">Trạng thái Nước</label>
                            <select class="form-control" id="waterStatus" [(ngModel)]="house.waterStatus"
                                name="waterStatus" required>
                                <option value="ACTIVE_STATUS">Áp dụng</option>
                                <option value="DELETED_STATUS">Không áp dụng</option>
                            </select>
                        </div>

                         <!-- Trạng thái Rác -->
                         <div class="form-group col-lg-6 p-2">
                            <label for="electricityStatus">Trạng thái Rác</label>
                            <select class="form-control" id="electricityStatus" [(ngModel)]="house.wifiStatus"
                                name="electricityStatus" required>
                                <option value="ACTIVE_STATUS">Áp dụng</option>
                                <option value="DELETED_STATUS">Không áp dụng</option>
                            </select>
                        </div>

                        <!-- Trạng thái Nước -->
                        <div class="form-group col-lg-6 p-2">
                            <label for="waterStatus">Trạng thái Wifi</label>
                            <select class="form-control" id="waterStatus" [(ngModel)]="house.trashStatus"
                                name="waterStatus" required>
                                <option value="ACTIVE_STATUS">Áp dụng</option>
                                <option value="DELETED_STATUS">Không áp dụng</option>
                            </select>
                        </div>

                        
                    </div>
                    <button type="submit" class="btn btn-primary">Tạo Nhà Trọ</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Modal Tạo Nhà Trọ -->

<!-- Modal Tạo Phòng Trọ -->
<div class="modal fade" id="addRoomModal" tabindex="-1" aria-labelledby="addRoomModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addRoomModalLabel">Thêm Phòng Trọ Mới</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="addRoomForm" (ngSubmit)="onCreateRoom()" #addRoomForm="ngForm">
                    <div class="row">
                        <!-- Giá Thuê -->
                        <div class="form-group col-lg-6 p-2">
                            <label for="rentalPrice">Giá Thuê</label>
                            <input type="number" class="form-control" id="rentalPrice" [(ngModel)]="room.rentalPrice"
                                name="rentalPrice" placeholder="Nhập giá thuê" required>
                        </div>

                        <!-- Diện Tích -->
                        <div class="form-group col-lg-6 p-2">
                            <label for="area">Diện Tích</label>
                            <input type="number" class="form-control" id="area" [(ngModel)]="room.area" name="area"
                                placeholder="Nhập diện tích" required>
                        </div>
                    </div>

                    <div class="row">
                        <!-- Số Tiền Cọc -->
                        <div class="form-group col-lg-6 p-2">
                            <label for="depositAmount">Số Tiền Cọc</label>
                            <input type="number" class="form-control" id="depositAmount"
                                [(ngModel)]="room.depositAmount" name="depositAmount" placeholder="Nhập số tiền cọc"
                                required>
                        </div>

                        <!-- Ngày Thanh Toán -->
                        <div class="form-group col-lg-6 p-2">
                            <label for="invoiceDate">Ngày Thanh Toán</label>
                            <input type="number" class="form-control" id="invoiceDate" [(ngModel)]="room.invoiceDate"
                                name="invoiceDate" required>
                        </div>
                    </div>

                    <div class="row">
                        <!-- Số Người Tối Đa -->
                        <div class="form-group col-lg-4 p-2">
                            <label for="maxOccupants">Số Người Tối Đa</label>
                            <input type="number" class="form-control" id="maxOccupants" [(ngModel)]="room.maxOccupants"
                                name="maxOccupants" placeholder="Nhập số người tối đa" required>
                        </div>

                        <!-- Chu Kỳ Thanh Toán -->
                        <div class="form-group col-lg-4 p-2">
                            <label for="paymentCycle">Chu Kỳ Thanh Toán</label>
                            <select class="form-control" id="paymentCycle" [(ngModel)]="room.paymentCycle"
                                name="paymentCycle" required>
                                <option value=1>Hàng tháng</option>
                                <option value=3>Hàng quý</option>
                                <option value=12>Hàng năm</option>
                            </select>
                        </div>

                        <!-- Tình Trạng Phòng -->
                        <div class="form-group col-lg-4 p-2">
                            <label for="roomStatus">Tình Trạng Phòng</label>
                            <select class="form-control" id="roomStatus" [(ngModel)]="room.roomStatus" name="roomStatus"
                                required>
                                <option value="VACANT">Chưa cho thuê</option>
                                <option value="OCCUPIED">Đã cho thuê</option>
                            </select>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Tạo Phòng Trọ</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Modal Tạo Phòng Trọ -->