<div class="header-inner">
    <div class="header-sticky">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#lozido-main-menu" aria-controls="lozido-main-menu" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"> </span>
                </button>
                <nav class="collapse navbar-collapse lozido-main-menu">
                    <ul class="navbar-nav main-menu-left  me-auto mb-2 mb-lg-0">
                        <li class="nav-item menu-item active">
                            <a href="/" class="nav-link ">
                                <i class="fa-solid fa-angles-left"></i>
                                 <img width="180px"
                                    src="/images/logo-lozido-quan-ly-tro-white.png" />
                            </a>
                        </li>
                    </ul>

                    <ul class="topbar-items main-menu-right navbar-nav">
                        <li class="nav-item menu-item active">
                            <a href="/quan-ly" class="nav-link ">
                                <i class="fa-solid fa-house"></i>
                                <span style="margin-top: 5px" class="text">Quản lý nhà</span>
                            </a>
                        </li>
                        <li class="nav-item menu-item ">
                            <a href="/bao-cao.html" class="nav-link ">
                                <i class="fa-solid fa-chart-pie"></i>
                                <span style="margin-top: 5px" class="text">Tổng
                                    báo cáo</span>
                            </a>
                        </li>
                        <li class="nav-item menu-item ">
                            <a href="/dang-tin.html" class="nav-link ">
                                <i class="fa-solid fa-plus"></i>
                                <span style="margin-top: 5px" class="text">Đăng tin</span>
                            </a>
                        </li>
                        <li class="nav-item menu-item ">
                            <a href="/moi-gioi.html" class="nav-link ">
                                <i class="fa-solid fa-user-group"></i>
                                <span style="margin-top: 5px" class="text">Môi giới</span>
                            </a>
                        </li>
                        <li class="nav-item menu-item ">
                            <a href="/phan-quyen.html" class="nav-link ">
                                <i class="fa-solid fa-box"></i>
                                <span style="margin-top: 5px" class="text">Công ty/nhóm</span>
                            </a>
                        </li>
                        <li class="nav-item menu-item ">
                            <a href="/cai-dat.html" class="nav-link ">
                                <i class="fa-solid fa-gear"></i>
                                <span style="margin-top: 5px" class="text">Cài đặt chung</span>
                            </a>
                        </li>
                        <li class="nav-item btn-group menu-item ">
                            <a href="javascript:;" class="nav-link" data-bs-toggle="dropdown" aria-expanded="false">
                                <span class="count-notification badge">0</span>
                                <i class="fa-solid fa-bell"></i>
                                <span style="margin-top: 5px" class="text">Thông báo</span>
                            </a>
                            <ul class="dropdown-menu notication-dropdown dropdown-menu-lg-end">
                                <div class="text-center" style="padding: 20px">
                                    <img style="margin: auto" src="/images/icons/loading.gif" alt="Đang tải..."
                                        width="50px" />
                                    <div>
                                        <i class="loading_text" style="font-size: 13px; margin-top: -10px;">Đang tải thông báo...</i>
                                    </div>
                                </div>
                            </ul>
                        </li>

                        <li class="nav-item menu-item ">
                            <a href="/tai-khoan.html" class="nav-link ">
                                <i class="fa-solid fa-user"></i>
                                <span style="margin-top: 5px" class="text">Tài khoản</span>
                            </a>
                        </li>
                        <li class="nav-item menu-item ">
                            <a href="/dang-xuat.html" class="nav-link ">
                                <i class="fa-solid fa-right-from-bracket"></i>
                                <span style="margin-top: 5px" class="text">Đăng xuất</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </nav>
    </div>
</div>